<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dao" class="StudentDao.studentDao"></bean>
    <!--    把dao装配到DaoCaller之中-->
    <bean id="caller" class="DaoCaller.daoCaller">
        <property name="dao">
            <ref bean="dao"/>
        </property>
    </bean>
</beans>